.Heading{
    background-color: rgba(5, 5, 5, 0.281);
    height: auto;
    width: 50;
    color: rgb(214, 212, 60);
    text-align: center; 
    text-shadow: 1px 1px 6px #000000;   
}

body{
    background-image: url(./Assets/Images/ScanLines.jpg);
    background-position: left top;
    background-repeat: repeat;    
}

.bodytext{
    text-align: left;
    color: #e4dfdf; 
    text-shadow: 1px 1px 6px #000000;
}

a{
    color: rgb(145, 211, 211);
}
a:hover{
    background-color: rgb(5, 5, 5, 0.281);
}

a:active{
    color: #000;
}

.NavBar {
    text-align: center;
    list-style-type: none;
    background-color: #914242;        
}

.NavBar li {
    display: inline;
    padding: 25px; 
}

.gallery {
    /*margin: 5px;*/
    border: 1px solid #000000;
    /*float: left;*/
    /*width: 480px;*/
    box-shadow: 1px 1px 6px #000000;
}

.gallery:hover{
    border: 1px solid rgb(145, 211, 211)
}

.gallery img{
    width: 100%;
    height: auto;
}
   
.desc{
    padding: 15px;
    text-align: center;
    color: #e4dfdf; 
    text-shadow: 1px 1px 6px #000000;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 6px 6px;
    float: left;
    width: 24.99999%;
  }
  
  @media only screen and (max-width: 1080px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 6px;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .responsive {
      width: 100%;
    }
  }

/*.clearfix:after {
    content: "";
    display: table;
    clear: both;
}*/

